@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.clearfix:before, body section.main ul:before, .clearfix:after, body section.main ul:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after, body section.main ul:after {
  clear: both; }

.clearfix, body section.main ul {
  zoom: 1; }

body {
  text-align: center;
  background: #efefef; }
  body section.main {
    width: 940px;
    margin: 0 auto; }
    body section.main section.box {
      width: 500px;
      height: 500px;
      padding: 50px;
      background: #999; }
      body section.main section.box div {
        width: 400px;
        height: 400px;
        margin: 15px;
        padding: 15px;
        background: #666;
        border: 10px solid #000;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        body section.main section.box div p {
          margin: 0;
          background: #333;
          /*width: 400px;*/
          /*height: 400px;*/ }
    body section.main ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      body section.main ul li {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 3px #999999, inset 0 0 0 3px white;
        -moz-box-shadow: 0 1px 3px #999999, inset 0 0 0 3px white;
        -ms-box-shadow: 0 1px 3px #999999, inset 0 0 0 3px white;
        -o-box-shadow: 0 1px 3px #999999, inset 0 0 0 3px white;
        box-shadow: 0 1px 3px #999999, inset 0 0 0 3px white;
        background: #ddd;
        height: 100px;
        margin: 20px 20px 0 0;
        width: 100px;
        float: left; }
        body section.main ul li:nth-child(3n) {
          clear: both; }
